.list_item {
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 3px var(--gray-30);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.task {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.button-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
