:root {
  background-color: #d0e5ee;
  font-family: "Roboto", sans-serif;

  --gray-10: #dadada;
  --gray-30: #636374;
  --green-20: #b3dabe;
  --orange-30: #fea49c;
  --orange-50: #ff8378;
  --orange-60: #ff6c5f;
  --rose: #dbacb2;
}

h1 {
  margin: 0;
}
