:root {
  background-color: #d0e5ee;
  font-family: "Roboto", sans-serif;

  --gray-05: #fafafa;
  --gray-10: #dadada;
  --gray-30: #636374;
  --green-20: #b3dabe;
  --orange-30: #fea49c;
  --orange-50: #ff8378;
  --orange-60: #ff6c5f;
  --orange-80: #d63e30;
  --rose: #dbacb2;
  --blue-40: #8ab0c0;
  --blue-80: #256482;
  --blue-90: #173e50;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}
