button {
  border: 1px solid;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.create {
  background-color: transparent;
  border-color: var(--gray-30);
  color: var(--gray-30);
}

.create:hover {
  background-color: var(--gray-30);
  color: #fff;
}

.sign-out {
  background-color: var(--orange-30);
  border-color: var(--orange-30);
  color: #fff;
}

.sign-out:hover {
  background-color: var(--orange-50);
  border-color: var(--orange-50);
}

.sign-out:active {
  background-color: var(--orange-60) !important;
  border-color: var(--orange-60) !important;
}

.edit {
  background-color: transparent;
  border-color: var(--green-20);
  color: var(--green-20);
}

.edit:hover {
  background-color: var(--green-20);
  color: #fff;
}

.delete {
  background-color: transparent;
  border-color: var(--rose);
  color: var(--rose);
}

.delete:hover {
  background-color: var(--rose);
  color: #fff;
}

.login {
  background-color: var(--blue-80);
  border-color: var(--blue-80);
  color: #fff;
}

.login:hover {
  opacity: 0.9;
}
