.header {
  align-items: center;
  border-bottom: 1px solid var(--gray-10);
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 0rem;
}

.button_container {
  display: flex;
  gap: 0.5rem;
}
